@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
   --purple:#8e44ad;
   --red:#c0392b;
   --orange:#f39c12;
   --black:#333;
   --white:#fff;
   --light-color:#666;
   --light-white:#ccc;
   --light-bg:#f5f5f5;
   --border:.1rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: 'Rubik', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition:all .2s linear;
}
.header{
    position: relative;
    top:0; left:0; right:0;
    z-index: 1000;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
}
 
.header .flex{
    display: flex;
    align-items: center;
    padding:30px;
    justify-content: space-between;
    position: relative;
    max-width: 1200px;
    /* margin:0 auto; */
}
.header .flex .logo{
    font-size: 25px;
    color:var(--black);
}
 
.header .flex .logo span{
    color:var(--purple);
}
 
.header .flex .navbar a{
    margin:0 10px;
    font-size: 25px;
  color:var(--black);
}
 
.header .flex .navbar a:hover{
    color:var(--purple);
}

.header .flex .icons div{
    margin-left: 20px;
    font-size: 25px;
    cursor: pointer;
    color:var(--black);
}
 
.header .flex .icons div:hover{
    color:var(--purple);
}
 
.header .flex .account-box{
    position: absolute;
    top:120%; right:20px;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    border:var(--border);
    padding:14px;
    text-align: center;
    width: 270px;
    display: none;
}
 
.header .flex .account-box.active{
    display: inline-block;
}
 
.header .flex .account-box p{
    font-size: 19px;
    color:var(--light-color);
    margin-bottom: 10px;
}
 
.header .flex .account-box p span{
    color:var(--purple);
}
 
.header .flex .account-box .delete-btn{
    margin-top: 0;
}
 
.header .flex .account-box div{
    margin-top: 10px;
    font-size: 19px;
    color:var(--light-color);
}
 
.header .flex .account-box div a{
    color:var(--orange);
}
 
#menu-btn{
    display: none;
}
 /* btn */
 .btn,
.option-btn,
.delete-btn,
.white-btn{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding:10px 20px;
    cursor: pointer;
    color:var(--white);
    font-size: 15px;
    border-radius: 10px;
    text-transform: capitalize;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover{
   background-color: var(--black);
}

.white-btn,
.btn{
   background-color: var(--purple);
}

.option-btn{
   background-color: var(--orange);
}

.delete-btn{
   background-color: var(--red);
}

.white-btn:hover{
   background-color: var(--white);
   color:var(--black);
}
/* admin dashboard section */
.title{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color:var(--black);
    font-size: 30px;
}
.dashboard .box-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-width: 1200px;
    margin:60px 30px;
    gap: 30px;
    justify-content: space-evenly;
}
.dashboard .box-container .box{
    border-radius: 5px;
    padding: 30px;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border:var(--border);
    text-align: center;
}
.dashboard .box-container .box h3{
    font-size: 25px;
    color:var(--black); 
}
.dashboard .box-container .box p{
    margin-top: 15px;
    padding:20px;
    background-color: var(--light-bg);
    color:var(--purple);
    font-size: 20px;
    border-radius: 5px;
    border:var(--border);
}
/* product */
.add-products form{
    background-color: var(--white);
    border-radius: 5px;
    padding:19px;
    text-align: center;
    box-shadow: var(--box-shadow);
    border:var(--border);
    max-width: 650px;
    margin:50px auto;
}
.add-products form h3{
    font-size: 20px;
    text-transform: uppercase;
    color:var(--black);
    margin-bottom: 15px;
}
.add-products form .box{
    width: 90%;
    background-color: var(--light-bg);
    border-radius: 5px;
    margin:15px 0;
    padding:15px 20px;
    color:var(--black);
    font-size: 20px;
    border:var(--border);
}
.show-products .box-container{
    max-width: 1200px;
    margin:20px auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
 
.show-products{
    padding-top: 0;
}
 
.show-products .box-container .box{
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    padding:10px;
    text-align: center;
    border:var(--border);
    position: relative;
}
 
.show-products .box-container .box img{
    margin-top: 20px;
    height: 350px;
}
 
.show-products .box-container .box .name{
    padding:10px 0;
    font-size: 20px;
    color:var(--black);
}
 
.show-products .box-container .box .price{
    padding:10px 0;
    font-size: 20px;
    color:var(--red);
}
 
 /* order */
.orders .box-container{
    display: grid;
    grid-template-columns: repeat(2, 400px);
    justify-content: center;
    gap:40px;
    max-width: 1200px;
    margin:0 auto;
    align-items: flex-start;
}
.orders .box-container .box{
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: var(--white);
    padding:20px;
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
}
.orders .box-container .box p{
    padding-bottom: 10px;
    font-size: 20px;
    color:var(--light-color);
}
 
.orders .box-container .box p span{
    color:var(--purple);
}
 
.orders .box-container .box form{
    text-align: center;
}
.orders .box-container .box form select{
    border-radius: 5px;
    margin:2px 0;
    width: 100%;
    background-color: var(--light-bg);
    border:var(--border);
    padding:9px 5px;
    font-size: 20px;
    color:var(--black);
}
 /* user page */

.users .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,330px);
    justify-content: space-evenly;
    gap:20px;
    max-width: 1200px;
    margin:0 auto;
   
}
.users .box-container .box{
    background-color: var(--white);
    padding:32px;
    margin-top: 20px;
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    text-align: center;
}
.users .box-container .box p{
    padding-bottom: 12px;
    font-size: 20px;
    color:var(--light-color);
}
 
.users .box-container .box p span{
    color:var(--purple);
}
/* message page */
.messages .box-container{
    display: grid;
    grid-template-columns: repeat(2, 350px);
    justify-content: center;
    gap:1.5rem;
    max-width: 1200px;
    margin:0 auto;
    align-items: flex-start;
}
.messages .box-container .box{
    background-color: var(--white);
    padding:25px;
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
}
.messages .box-container .box p{
    padding-bottom: 15px;
    font-size: 20px;
    color:var(--light-color);
}
 
.messages .box-container .box p span{
    color:var(--purple);
 }


 